* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #32325f;
}

.container {
  max-width: 1140px;
  width: 96%;
  margin: 0 auto;
}

/* HERO & NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 150px;
}

.logo {
  color: #95989a;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.social {
  font-size: 25px;
}
.social a {
  color: #95989a;

  margin-left: 15px;
}
.hero {
  padding-top: 60px;
  padding-bottom: 190px;
  background-color: #f4f5f7;
}

/* MAIN */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-text {
  max-width: 50%;
}

.main .subtitle {
  color: #32325f;
  font-size: 20px;
  font-weight: 400;
  display: block;
  padding-bottom: 15px;
}
.main .title {
  display: block;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 25px;
}
.main .description {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 16px;
}

.main .price-tag {
  display: block;
  font-size: 20px;
  padding-bottom: 20px;
}
.main .price {
  display: block;
  font-size: 48px;
  color: #525f7f;
  
}

.buttons {
  margin-top: 70px;
}
.btn {
  box-shadow: 0 3px 6px rgba(173, 173, 173, 0.16);
  border-radius: 6px;
  background-color: rgb(255, 51, 51);
  text-decoration: none;
  color: #ffffff;
}
.btn-succes {
  padding: 20px 30px;
  background-color: #2dce89;
  margin-right: 30px;
}
.btn-primary {
  padding: 20px 35px;
  background-color: #5e72e4;
}

/* ABOUT */

.section {
  padding-top: 90px;
  padding-bottom: 110px;
}

.section-subtitle {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 14px;
}
.section-title {
  display: flex;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 80px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* margin-top: 100px; */
}

.block {
  width: 23%;
  margin-right: 2%; 
}
.block-text {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

/* PEOPLE */
.people {
  background: #f4f5f7;
}

.image-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.image-wrap img {
  margin: 15px 0;
  width: 32%;
  max-height: 254px;
}

/* FOOTER */

.footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: #32325f;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #fff;
}

.footer .block .footer-title {
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 35px;
}

.footer .block a {
  display: inline;
  max-width:  
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  line-height: 1.4;
}